/* You can add global styles to this file, and also import other style files */

html {
  font-size: 11px;
}
:root {
  --pico-font-family: 'departure', monospace;
  --pico-border-radius: 0;
}
#header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--pico-background-color);
  box-shadow: var(--pico-box-shadow);
}

