/* You can add global styles to this file, and also import other style files */

html {
  font-size: 15.5px;
}
:root {
  --pico-font-family: 'departure', monospace;
  --pico-border-radius: 0;
}
#header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--pico-background-color);
  box-shadow: var(--pico-box-shadow);
}

@media print {
  app-root > header {
    display: none;
  }

  h2 {
    text-align: center;
    margin-block-end: 1em !important;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--pico-background-color);
    padding-inline: 1em;
  }

  h3 {
    text-align: center;
    margin-block-end: 0 !important;
    font-weight: 400;
  }

  h4 {
    text-align: center;
    font-weight: 400;
  }

  .competitions {
    display: none !important;
  }

  .kits {
    justify-content: center !important;
  }

  .container {
    max-width: 95%;
    border: 1px solid lightgrey;
    padding: 1em;
    box-sizing: border-box;
    margin-block-start: 1rem;
  }

  .container::before {
    content: 'pixelites';
    color: lightgrey;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-.3rem);
    bottom: 0;
    font-size: 1rem;
    background-color: var(--pico-background-color);
    padding-inline: 5em;
  }

  app-league, app-team {
    height: 26cm;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  app-league .kit p {
    font-size: .5rem;
    margin-block-end: 0;
  }

  app-team .kit p,
  app-team article h4,
  .print {
    display: none;
  }

  article,
  article header {
    background: none;
    border: none;
    box-shadow: none;
    margin-block-end: 0;
    display: block !important;
  }

  app-team article:nth-child(n+6),
  app-league article:nth-child(n+2) {
    display: none !important;
  }

  article {
    margin-block-start: 1rem;
  }

  .columns-1  {
    width: 5cm;
    margin-inline: auto;
  }

  .columns-2  {
    width: 8cm;
    margin-inline: auto;
  }

  .columns-3  {
    width: 10cm;
    margin-inline: auto;
  }

  .columns-4  {
    width: 12cm;
    margin-inline: auto;
  }

  .columns-5  {
    width: 15cm;
    margin-inline: auto;
  }

  .columns-6  {
    width: 15cm;
    margin-inline: auto;
  }
  .columns-6 .kit {
    width: 2cm !important;
  }

  .columns-7  {
    width: 15cm;
    margin-inline: auto;
  }
  .columns-7 .kit {
    width: 1.6cm !important;
  }
  .columns-7 .kit p {
    font-size: .30rem;
  }

  .columns-8  {
    width: 15cm;
    margin-inline: auto;
  }
  .columns-8 .kit {
    width: 1.4cm !important;
  }
  .columns-8 .kit p {
    font-size: .30rem;
  }

  .columns-9  {
    width: 15cm;
    margin-inline: auto;
  }
  .columns-9 .kit {
    width: 1.2cm !important;
  }
  .columns-9 .kit p {
    font-size: .30rem;
  }

  .columns-10  {
    width: 15cm;
    margin-inline: auto;
  }
  .columns-10 .kit {
    width: 1cm !important;
  }
  .columns-10 .kit p {
    font-size: .30rem;
  }
}
