/* You can add global styles to this file, and also import other style files */

html {
  font-size: 15.5px;
}
:root {
  --pico-font-family: 'departure', monospace;
  --pico-border-radius: 0;
}
#header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--pico-background-color);
  box-shadow: var(--pico-box-shadow);
}

@media print {
  app-root > header {
    display: none;
  }

  h2{
    text-align: center;
    margin-block-end: 1em !important;
  }

  h3 {
    text-align: center;
    margin-block-end: 0 !important;
    font-weight: 400;
  }

  h4 {
    text-align: center;
    font-weight: 400;
  }

  .competitions {
    display: none !important;
  }

  .kits {
    justify-content: center !important;
  }

  .container {
    max-width: 95%;
    border: 1px solid lightgrey;
    padding: 1em;
    box-sizing: border-box;
    margin-block-start: 1rem;
  }

  .container::before {
    content: 'pixelites';
    color: lightgrey;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-.3rem);
    top: 0;
    font-size: 2rem;
    background-color: var(--pico-background-color);
    padding-inline: 5rem;
  }

  app-league, app-team {
    height: 93vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  app-league article + article {
    display: none;
  }

  app-league .kit p {
    font-size: .5rem;
  }

  app-team .kit p {
    display: none;
  }

  article,
  article header {
    background: none;
    border: none;
    box-shadow: none;
    margin-block-end: 0;
  }

  article {
    margin-block-start: 1rem;
  }
}
